<!--
/***************************************************************
* Name        : Index.cshtml
* Author      : Tom Sorteberg
* Created     : 02/07/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Module 2 Topic 3
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@model List<Contact>
@{
    ViewBag.Title = "My Contacts";
}

<h2>Contact List</h2>

<a asp-controller="Contact" asp-action="Add">Add New Contact</a>
<table class="table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.Phone</td>
                <td>@contact.Address</td>
                <td>@contact.Note</td>
                <td>
                    <a asp-controller="Contact" asp-action="Edit" asp-route-id="@contact.ContactId" asp-route-slug="@contact.Slug">Edit</a>
                    <a asp-controller="Contact" asp-action="Delete" asp-route-id="@contact.ContactId" asp-route-slug="@contact.Slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
